.container {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  background-color: #DB7093;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #DB7093;
}

.query-result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.query-result h2 {
  margin-top: 0;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.result-table th {
  background-color: #f2f2f2;
}

.btn {
  display: flex;
  align-items: center; /* Vertically center the content */
  background-color: #DB7093;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #DB7093;
}

.btn svg {
  margin-right: 5px; /* Add space between icon and text */
}


.icon-btn {
  padding: 6px;
  background-color: #DB7093;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.icon-btn:hover {
  background-color: #DB7093;
}

.chart-type-options {
  display: flex;
  justify-content: space-between;
}

.chart-container {
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right; /* Position the dropdown menu on the right */
  margin-top: 5px;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align the dropdown menu to the right */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
  border-radius: 10%;
  margin-top: -10px;
  margin-right: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 12px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 80%;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.notLoggedInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  border-radius: 5px;
}

.notLoggedInContainer a {
  color: #0056b3;
  text-decoration: none;
}